* {
    background-color: #FAF9F6;
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
}

.underline {
    text-decoration: underline;
}

.menu-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    background-color: #FAF9F6;
}

.menu-box {
    margin: 50px; /* 50px margin on all sides */
    padding: 50px;
    border-radius: 10px;
    outline: 1px solid #000;
    height: calc(100vh - 100px); /* Subtracting the margin from the viewport height */
    width: calc(100vw - 100px); /* Subtracting the margin from the viewport width */
    box-sizing: border-box;
}

.menu-box .name, .menu-box .subtitle {
    margin: 0px; /* Reset margin to ensure consistent alignment */
}

.menu-box .name {
    font-size: 50px;
    font-weight: 200;
    position: relative;
    right: 3px; /* Make it align with the subtitle */
}
 
.menu-box .subtitle {
    bottom: -10px;
    margin-bottom: 40px;
}

#dot {
    font-size: 10px;
}

.menu-box .menu-items div {
    margin: 20px auto;
    font-weight: bold;
}

.menu-item-projects {
    cursor: pointer;
}


.menu-box .ink {
    width: 400px;
    height: auto;
}

.menu-container .menu-container-intro {
    text-align: left;
    /* Move the text all the way to the right in a small rectangle */
    position: absolute;
    margin: 80px;
    bottom: 50px;
    right: 5px;
    width: 15%;
    /*  make the text justified */
    text-align: left;
    flex-direction: column;
}

.hidden {
    transform: translateX(100%); /* Hide the menu off the right side of the screen */
    visibility: hidden; /* Hide the menu from screen readers */
  }
  
.projects-menu {
    position: fixed;
    margin: 80px auto;    
    right: 50px;
    width: 50%;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    overflow-y: auto;
    box-shadow: -4px 0 8px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out;
    overflow-x: hidden; /* Hide horizontal overflow */
    overflow-y: auto; /* Allow vertical scrolling */
}

.project-item {
    display: flex; /* Aligns image and description side by side */
    align-items: center; /* Centers them vertically */
    margin-bottom: 20px; /* Adds space between project items */
  }
  
  .project-image {
    margin: 20px;
    max-width: 50%; /* Ensure images do not overflow their containers */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the area without stretching */
  }
  
  
  .project-description {
    flex: 1; /* Allows the description to fill the remaining horizontal space */
  }
  








