* {
    background-color: rgb(244, 244, 244);
    font-family: 'Courier New', monospace;
    box-sizing: border-box;
}

.underline {
    text-decoration: underline;
}

.menu-container {
    align-items: center;
    display: flexbox;
}

.menu-box {
    display: flexbox;
    flex-direction: column;
    justify-content: space-between; /* Aligns children to the left and right */
    flex-wrap: wrap; /* Allows children to wrap to the next line */
    /* center text */
    text-align: center;
}

.menu-box-heading {
    padding: 100px;
}

.menu-box .name {
    font-size: 100px;
    font-weight: 200;
    position: relative;
    right: 3px; /* Make it align with the subtitle */
    margin-bottom: 10px;
}
 
.menu-box .subtitle {
    margin: 2px;
    font-size: x-large;
}

#dot {
    font-size: 10px;
}

.menu-buttons {
    gap: 2em;
}

button {
    position: relative;
    background: none;
    outline: none;
    border: 1px solid black;
    border-radius: 0.25em;
    font-size: 17px;
    color: black;
    padding: 0.25em 0.75em;
    cursor: pointer;
    overflow: hidden; /* Hides the border */    
    transition: all 0.3s;
    z-index: 100;
    margin: 0.5em;
}

button span {
    padding-right: 0.5em;
}

button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: all 0.3s;
}

button:hover {
    color: white;
}

button:hover:after {
    width: 100%;
}





