@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300&display=swap");

:root {
    --image-outline: rgb(162, 157, 157);
    --blue-fill: rgb(36, 94, 152);
    --intro-text: rgb(36, 35, 35);
}

/* Removing the default link styling and keeping the colour blue */
a:visited {
    text-decoration: none;
    color: var(--blue-fill);
}

a:hover {
    text-decoration: none;
    color: var(--blue-fill);
}

a:focus {
    text-decoration: none;
    color: var(--blue-fill);
}

a:hover,
a:active {
    text-decoration: none;
    color: var(--blue-fill);
}

* {
    /* background-color: rgb(244, 244, 244); */
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    background-color: rgb(237, 237, 237);
}

html,
body {
    width: 100vw;
    height: auto;
    /* smooth scrolling */
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Site container */
.site-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* position: sticky; */
    height: 100%;
}

/* NAVIGATION SECTION */

.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    left: 0;
}

.menu-box {
    position: fixed;
    flex-direction: column;
    /* center text */
    text-align: left;
    /* Debugging */
    /* border: 1px solid black; */
    width: 805px;
    /* margin-right: 2px; */
}

.menu-box-heading {
    margin: 75px;
    /* border: 1px solid black; */
}

.menu-box .name {
    font-size: 60px;
    font-weight: bold;
    right: 3px;
    /* Make it align with the subtitle */
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.menu-box .subtitle {
    margin: 2px;
    font-weight: 800;
    font-size: medium;
}

.menu-box .subtitle-blurb {
    color: var(--intro-text);
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 2px;
    width: 400px;
    /* border: 1px solid black; */
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1em;
    /* Place them on the top right */
    position: relative;
    /* border: 1px solid black; */
    margin-left: 70px;
}

.info-container-intro {
    font-size: 20px;
    color: var(--intro-text);
    padding-bottom: 100px;
    margin-right: 50px;
}

.info-container-intro span {
    font-weight: bold;
    color: black;
}

button {
    position: relative;
    background: none;
    outline: none;
    border: 1px solid black;
    border-radius: 0.25em;
    font-size: 17px;
    color: black;
    padding: 0.25em 0.75em;
    cursor: pointer;
    overflow: hidden;
    /* Hides the border */
    transition: all 0.3s;
    z-index: 100;
    margin: 0.5em;
    width: 150px;
}

button span {
    padding-right: 0.5em;
}

button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: all 0.3s;
}

button:hover {
    color: white;
}

button:hover:after {
    width: 100%;
}

.button-active {
    background: rgb(0, 0, 0);
    color: white;
}

/* END OF NAVIGATION SECTION */

/* START OF MAIN INFO */
.main-content {
    width: calc(100vw);
    /* Adjust based on your sidebar's width */
    padding: 2em auto;
    margin-top: 100px;
    margin-right: 45px;
    padding-left: 0px;
    z-index: 2;
    /* border: 1px solid black; */
}

.info-container {
    align-items: left;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: wrap;
    width: 100%;
    /* border: 1px solid black; */
    height: auto;
    margin-bottom: 100px;
}

.socials-container {
    font-size: 35px;
    margin: 80px;
}

/* removes the underline wrap around the icons */
.socials-container a {
    text-decoration: none;
}

#github,
#resume {
    padding-left: 30px;
}

.projects-box {
    display: flex;
    height: 300px;
    align-items: flex-start;
    padding: 30px;
}

.projects-box:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    border-radius: 20px;
    /* move the box to the left */
    transition: 0.3s;
}

.project-box-images {
    width: 150px;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.project-box-header {
    padding-top: 0px;
    margin-bottom: 20px;
}

.project-box-descr {
    margin-top: 0px auto;
    /* border: 1px solid black; */
}

.tech-tags-container {
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tech-tags {
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--blue-fill);
    border: 1px solid var(--image-outline);
    border-radius: 5px;
    padding: 5px;
    margin-top: 0px;
    margin-right: 10px;
}

.projects-container a {
    text-decoration: none;
    color: black;
}

.more-projects-link {
    margin-top: 50px;
    text-decoration: none;
    color: var(--blue-fill) !important;
}

.more-projects-text {
    margin-left: 30px;
    margin-bottom: 10px;
}

.more-projects-container:hover div,
.more-projects-container:hover i {
    text-decoration: underline;
}

.more-projects-container:hover i {
    /* underline the text */
    transform: translateY(-2px);
}

.contacts-container {
    height: 50vh;
}

/* Start of of the experience section  */
.experience-box-container {
    display: flex;
    height: 300px;
    align-items: flex-start;
    padding: 30px;
    /* Make the divs inside the container side by side */
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 100px;
}

.experience-box-container:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    border-radius: 20px;
    transition: 0.3s;
}

.experience-box-date {
    margin: 0px;
    margin-right: 20px;
    width: 600px;
    /* border: 1px solid black; */
    padding-top: 4px;
}

.experience-box-tech-tags-container {
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.experience-box-header {
    align-item: flex-start;
    padding-bottom: 20px;
    /* border: 1px solid black; */
    margin: 0;
}

.experience-name {
    /* hidden display */
    display: none;
}

.footer-content {
    display: flex;
    margin-top: 100px;
    border-top: 1px solid var(--image-outline);
}

.resume-container,
.more-projects-container {
    margin-top: 50px;
}
