@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300&display=swap");

:root {
    --image-outline: rgb(162, 157, 157);
    --blue-fill: rgb(36, 94, 152);
    --intro-text: rgb(36, 35, 35);
    --primary-text-colour: black;
    --primary-background: rgb(237, 237, 237);
    --table-line-theme: #ddd;
    --background-greyish: rgb(230, 230, 230);
    --inactive-text-colour: rgb(155, 155, 155);
    --active-text-colour: white;
}

[data-theme="dark"] {
    --image-outline: rgb(162, 157, 157);
    --blue-fill: rgb(61, 65, 75);
    --intro-text: rgb(237, 237, 237);
    --primary-text-colour: rgb(250, 250, 250);
    --primary-background: rgb(32, 33, 36);
    --background-greyish: rgb(47, 50, 60);
    --active-text-colour: black;
}

body {
    width: 100vw;
    height: auto;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
    color: var(--primary-text-colour);
    background-color: var(--primary-background);
    transition:
        background-color 0.3s,
        color 0.3s;
    /* Smooth transition */
}

/* Removing the default link styling and keeping the colour blue */
a:visited {
    text-decoration: none;
    color: var(--blue-fill);
}

a:hover {
    text-decoration: none;
    color: var(--blue-fill);
}

a:focus {
    text-decoration: none;
    color: var(--blue-fill);
}

a:hover,
a:active {
    text-decoration: none;
    color: var(--blue-fill);
}

::-webkit-scrollbar {
    width: 2px;
}

/* Site container */
.site-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* position: sticky; */
    height: 100%;
}

/* NAVIGATION SECTION */

.menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    left: 0;
}

.menu-box {
    position: fixed;
    flex-direction: column;
    /* center text */
    text-align: left;
    /* Debugging */
    /* border: 1px solid black; */
    width: 805px;
    /* margin-right: 2px; */
}

.menu-box-heading {
    margin: 75px;
    /* border: 1px solid black; */
}

.name {
    font-size: 60px;
    font-weight: bold;
    right: 3px;
    /* Make it align with the subtitle */
    margin-bottom: 10px;
    /* border: 1px solid black; */
}

.menu-box .subtitle {
    margin: 2px;
    font-weight: 700;
    font-size: medium;
}

.menu-box .subtitle-blurb {
    color: var(--intro-text);
    font-size: 20px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 2px;
    width: 400px;
    /* border: 1px solid black; */
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1em;
    /* Place them on the top right */
    position: relative;
    /* border: 1px solid black; */
    margin-left: 70px;
}

.info-container-intro {
    font-size: 20px;
    color: var(--intro-text);
    padding-bottom: 100px;
    margin-right: 50px;
}

.info-container-intro span {
    font-weight: bold;
    color: var(--intro-text);
}

button {
    position: relative;
    background: none;
    outline: none;
    border: 1px solid var(--primary-text-colour);
    border-radius: 0.25em;
    font-size: 17px;
    color: var(--primary-text-colour);
    padding: 0.25em 0.75em;
    cursor: pointer;
    overflow: hidden;
    /* Hides the border */
    transition: all 0.3s;
    z-index: 100;
    margin: 0.5em;
    width: 150px;
}

button span {
    padding-right: 0.5em;
}

button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-text-colour);
    z-index: -1;
    transition: all 0.3s;
}

button:hover {
    color: var(--primary-background);
}

button:hover:after {
    width: 100%;
}

.button-active {
    background: var(--primary-text-colour);
    color: var(--primary-background);
}

/* END OF NAVIGATION SECTION */

/* START OF MAIN INFO */
.main-content {
    width: calc(100vw);
    /* Adjust based on your sidebar's width */
    padding: 2em auto;
    margin-top: 100px;
    margin-right: 45px;
    padding-left: 0px;
    z-index: 2;
    /* border: 1px solid black; */
}

.info-container {
    align-items: left;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: wrap;
    width: 100%;
    /* border: 1px solid black; */
    height: auto;
    margin-bottom: 100px;
}

.socials-container {
    font-size: 35px;
    margin: 80px;
}

/* removes the underline wrap around the icons */
.socials-container a {
    text-decoration: none;
    color: var(--primary-text-colour);
}

#github,
#resume {
    padding-left: 30px;
}

.projects-box {
    display: flex;
    align-items: flex-start;
    padding: 30px;
}

.projects-box:hover {
    box-shadow: 0px 0px 10px rgba(116, 116, 116);
    transform: translateY(-5px);
    border-radius: 20px;
    /* move the box to the left */
    transition: 0.3s;
}

.project-box-images {
    width: 150px;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}



.project-box-header {
    padding-top: 0px;
    margin-bottom: 20px;
    color: var(--primary-text-colour);
}

.project-box-descr {
    margin-top: 0px auto;
    color: var(--intro-text);
    /* border: 1px solid black; */
}

.tech-tags-container {
    height: 100px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    margin-top: 20px;
}

.tech-tags {
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--blue-fill);
    border: 1px solid var(--image-outline);
    border-radius: 5px;
    padding: 5px;
    margin-top: 0px;
    margin-right: 10px;
}

.projects-container a {
    text-decoration: none;
    color: black;
}

.more-container {
    margin-top: 50px;
    width: 200px;
}

.more-link {
    text-decoration: none;
    color: var(--primary-text-colour);
}

.more-link:hover {
    color: var(--blue-fill);
}

.more-text {
    margin-left: 30px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
    color: var(--primary-text-colour);
}

.more-container:hover div,
.more-container:hover i {
    text-decoration: underline;
    color: var(--blue-fill);
}

.more-container:hover i {
    /* underline the text */
    transform: translateY(-2px);
}

/* Start of of the experience section  */
.experience-box-container {
    display: flex;
    height: 300px;
    align-items: flex-start;
    padding: 30px;
    /* Make the divs inside the container side by side */
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-top: 100px;
}

.experience-box-container:hover {
    box-shadow: 0px 0px 10px rgba(116, 116, 116);
    transform: translateY(-5px);
    border-radius: 20px;
    transition: 0.3s;
}

.experience-box-date {
    margin: 0px;
    margin-right: 20px;
    width: 600px;
    /* border: 1px solid black; */
    padding-top: 4px;
}

.experience-box-tech-tags-container {
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.experience-box-header {
    align-item: flex-start;
    padding-bottom: 20px;
    /* border: 1px solid black; */
    margin: 0;
}

.hidden-name {
    /* hidden display */
    display: none;
}

.footer-content {
    border-top: 1px solid var(--image-outline);
    align-items: flex-start;
}

footer {
    margin-top: 100px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 20px;
    margin-left: 30px;
    dd
}

.email-container {
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.system-theme-light-dark {
    cursor: pointer;
}

.system-theme-light-dark:hover {
    text-decoration: underline;
}

.footer-blurb {
    /* border: 1px solid black; */
    width: 50%;
    justify-content: left;
}

.email-container a {
    text-decoration: none;
    color: var(--primary-text-colour);
}

.email-container a:hover span {
    text-decoration: underline;
}

.system-theme-light-dark {
    text-decoration: none;
    color: var(--primary-text-colour);
}

/* PROJECTS/EXPERIENCE PAGE STARTS HERE  *****************************************************************/
.projects-page-container {
    display: flex;
    flex-direction: column;
}

.projects-page-introduction {
    width: 50%;
    margin: 50px;
}

.projects-page-subheading {
    text-align: left;
}

.projects-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    /* border: 1px solid black; */

}

.projects-page-table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 50%;
    /* Adjust based on your preference */
    border: 1px solid var(--table-line-theme);
}

.projects-page-table th,
.projects-page-table td {
    text-align: left;
    padding: 15px;
}

.projects-page-table tr:nth-child(even) {
    background-color: var(--primary-background-colour);
}

.projects-page-table th {
    background-color: black;
    color: white;
}

.projects-page-table img {
    width: 80%;
    /* or any other size */
    height: auto;
}

.project-page-table-description {
    color: var(--intro-text);
}

.project-page-table-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.project-page-table-item-container {
    text-align: left;
    width: 200px;
}

.project-page-footer-left {
    margin-left: 30px;
    /* align to the left */
    text-align: left;
}

.project-page-footer-content {
    border-top: 1px solid var(--image-outline);
    align-items: flex-start;
}

.project-page-footer-section {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 20px;
}

.project-page-footer-blurb {
    /* border: 1px solid black; */
    width: 50%;
    justify-content: left;
    margin-right: 30px;
    text-align: left;
}

.project-page-experience_projects-btn-container {
    display: flex;
    background: var(--background-greyish);
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

#project-page-experience-btn,
#project-page-projects-btn {
    border-radius: 7px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}

.active-project-page-btn {
    background: var(--active-text-colour);
    color: var(--primary-text-colour);
}

.inactive-project-page-btn {
    color: var(--inactive-text-colour);
}

.projects-page-subheading a {
    text-decoration: underline;
    font-size: 1.2em;
    color: var(--primary-text-colour);
    cursor: pointer;

}

/* projects page github */
.projects-page-subheading a:hover {
    color: grey;
}

.projects-page-title {
    display: flex;
    justify-content: flex-start;
    /* Align items to the start of the container */
    width: 100%;
    /* Or a specific width that fits your layout */
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 60px;
    /* make italic */
}

/* Base styles that apply to all screen sizes */



/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 1100px) {
    body {
        font-size: 16px;
    }


    /* Adjust styles for tablets here */
    .hidden-name {
        display: block;
        margin-top: 2em;
        text-align: center;
    }

    .menu-box {
        display: none;
        /* Hide navigation menu on small screens */
    }

}
